
.navbar {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .link {
    display: block;
    padding: $nav-link-padding-y $nav-link-padding-x;
    font-size: $nav-link-font-size;
    font-weight: $nav-link-font-weight;
    color: $nav-link-color;
    text-decoration: if($link-decoration == none, null, none);
  }
}
